header {
  text-align: center;
  font-size: 30px;
  color: #000000;
}

main, html {
  margin: 0;
  padding: 0;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c9c9c9;
}

.container {
  text-align: center;
  color: #bebebe;
}

.button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 24px;
  border: none;
  background-color: #a13dff;
  cursor: pointer;
  border-radius: 5px;
}

.button:hover {
  background-color: #6524a1;
}

